@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* Include your other Tailwind directives here */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-snap-type: y proximity;
  /* Use 'mandatory' if you want it to always snap to a point */
  /* 'proximity' is less strict, snaps if close enough */
  scroll-behavior: smooth; /* Optional: makes the snapping animation smooth */
  overflow-y: scroll; /* Ensure vertical scrolling is possible */
}


body {
  background-color: #f2f2f2;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
/* Ensure body doesn't interfere, might need to remove default margins/padding */
margin: 0;
padding: 0;
/* Make body fit the viewport height if needed, depends on layout */
/* min-height: 100vh; */
}

/* You might want to add margin or padding to the snapped elements
so the content isn't right at the edge when centered. */
/* Example:
.snap-center {
padding-top: 20px;
padding-bottom: 20px;
}
*/

/* Hide scrollbar for elements with hide-scrollbar class */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Animation for navigation links */
@keyframes underlineSlide {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.nav-link:hover::after {
  animation: underlineSlide 0.3s forwards;
}

